In [2]:
#simple function
def sum_fn(a,b):
    sum_fn=a+b
    return sum_fn

In [20]:
#Division
a=22/7
print(a)

3.142857142857143

In [9]:
# decrement operator
i=3
i -=1
print(i)

2

In [99]:
list=[11,21,43,94,56,100]
def age_cat():
    for age in list:
        if age < 18 :
            print("Child")
        else:
            print("Adult")

In [100]:
age_cat()

Child
Adult
Adult
Adult
Adult
Adult

In [91]:
#simple if
x=input("Enter the name ")
if x=="prakash":
    print(x, "is my name")

Enter the name Praveen

In [20]:
#print triangle pattern1
for i in (range(1,10)):
    for j in range(1,i+1):
        print(j ,end="")
    print("\r")

1
12
123
1234
12345
123456
1234567
12345678
123456789

In [32]:
#print triangle pattern2
for i in (range(1,10)):
    for j in range(1,i+1):
        print(i ,end="")
    print("\r")

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [3]:
#print inverted triangle
n=int(input("Enter the number "))
for i in range(n,0,-1):
    for j in (range(1,i+1)):
        print(j,end="")
    print('\r')

Enter the number 5
12345
1234
123
12
1

In [120]:
#print inverted triangle 2
n=int(input("Enter the number "))
k=n
for i in range(0,n+i):
    for j in range(k-i,0,-1):
        print(j,end=" ")
    print()

Enter the number 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [124]:
for x in range(0,10,2):
    print(x)
print("--------------------------------")
for x in reversed(range(0,10,2)):
    print(x)

0
2
4
6
8
--------------------------------
8
6
4
2
0

In [110]:
state=["Tamil","Malayalam","Kanada","Telegu"]

In [111]:
#finding state name using lang by for if
def state_cat():
    for x in state:
        if x=="Tamil":
            print("Tamilnadu")
            statname="Tamilnadu"
        elif x=="Malayalam":
            print("Kerala")
            statname="Kerala"
        elif x=="Kanada":
            ptint("Karnataka")
            statname="Karnataka"
        else:
            print("Andra")
            statname="Andra"
        return statname

In [112]:
op=input("Enter the language")
state_cat()

Enter the languageASdf
Tamilnadu

'Tamilnadu'

In [11]:
print(state)

['Tamil', 'Malayalam', 'Kanada', 'Telegu']

In [17]:
print(state[2])

Kanada

In [15]:
print(max(state))

Telegu

In [113]:
print(state)
print(min(state))
print(state)

['Tamil', 'Malayalam', 'Kanada', 'Telegu']
Kanada
['Tamil', 'Malayalam', 'Kanada', 'Telegu']

In [20]:
num=[1,8,3,7,9,6,5]

9
1
7

In [23]:
print(num)
print(max(num))
print(min(num))
print(num[6])
print(len(num))

[1, 8, 3, 7, 9, 6, 5]
9
1
5
7

In [24]:
#simple odd even fn without return
def evenodd():
    for i in num:
        if (i%2)==0:
            print("Number is even")
        else:
            print("Number is odd")

In [25]:
evenodd()

Number is odd
Number is even
Number is odd
Number is odd
Number is odd
Number is even
Number is odd

In [55]:
#simple odd even fn with retrun
def evenodd1():
    if (x%2)==0:
        print(x,"Number is even")
        mesg=0
    else:
        print(x,"Number is odd")
        mesg=1
    return mesg

In [50]:
#Calling function and displaying
x=int(input("Enter the number"))
evenodd1()
msg1=evenodd1()

Enter the number34
34 Number is even
34 Number is even

In [54]:
#output of previous fn as input to this fun
if (msg1==1):
    print("this is odd arrangement")
else:
    print("This is even arrangement")

This is even arrangement

In [1]:
state=["Tamil","Malayalam","Kanada","Telegu"]

In [18]:
print(state)
print(*state)
for x in range(len(state)):
    print (state[x])
print("====================")
for x in  reversed(range(len(state))):
    print (state[x])

['Tamil', 'Malayalam', 'Kanada', 'Telegu']
Tamil Malayalam Kanada Telegu
Tamil
Malayalam
Kanada
Telegu
====================
Telegu
Kanada
Malayalam
Tamil

In [56]:
#output of previous fn as input to this fun
x=int(input("Enter the number"))
evenodd1()
msg1=evenodd1()
if (msg1==1):
    print("this is odd arrangement")
else:
    print("This is even arrangement")

Enter the number55
55 Number is odd
55 Number is odd
this is odd arrangement

In [62]:
list1 = [10, 20, 4, 45, 199,65]
 
mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
    if list1[i] > mx:
        secondmax = mx
        mx = list1[i]
    elif list1[i] > secondmax and \
        mx != list1[i]:
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  65

In [63]:
# Function to demonstrate printing pattern
def pypart2(n):
     
    # number of spaces
    k = 2*n - 2
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 2
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
pypart2(n)

        *
      * *
    * * *
  * * * *
* * * * *

In [64]:
#parameterise function
def addition(num1,num2):
    add=num1+num2
    return(add)

In [65]:
addition(4,6)

10

In [69]:
def addition(num1,num2):
    add=num1+num2
    sub=num1-num2
    mul=num1*num2
    return(mul)
    return(sub)
    return(add)

In [70]:
addition(10,4)

40

In [71]:
def addition(num1,num2):
    add=num1+num2
    sub=num1-num2
    mul=num1*num2
    return mul, sub,add

In [72]:
addition(10,4)

(40, 6, 14)

In [129]:
num1=int(input("Enter first number "))
num2=int(input("Enter second number "))
def addition(num1,num2):
    add=num1+num2
    sub=num1-num2
    mul=num1*num2
    return mul, sub,add
mul, sub,add = addition(num1,num2)
print(mul, sub,add)
print(sub)
print(add)

Enter first number -6
Enter second number -7
42 1 -13
1
-13

In [86]:
addition(5,2)

(10, 3, 7)

In [116]:
#print numbers divisoble by 5 less than 500 and greater than 150
numbers=[12.50,150,63,145,503,50,5,65]
for x in numbers:
    if x >500:
        break
    elif x > 150:
        continue
    elif x%5==0:
        print(x)

150
145

In [117]:
#count the total digits of the number
num=int(input("Enter the number "))
count=0
while num !=0:
    #floor division to reduce the last digit from number
    num=num//10
    count=count+1 # increment the counter
print("Total digits ",count)

Enter the number 345
Total digits  3

In [6]:
print(*range(1,9))

1 2 3 4 5 6 7 8

In [27]:
#print the nth character of a string
word=input("Enter the word ")
n=int(input("enter the position "))
print(word[n])
print(len(word))

Enter the word mynameisiniya
enter the position 4
m
13

In [30]:
#print the string vertically
word=input("Enter the word ")
#n=int(input("enter the position "))
l=len(word)
for i in range(0,l):
    print(word[i],i)
print(len(word))

Enter the word iniya
i 0
n 1
i 2
y 3
a 4
5

In [52]:
#print the string vertically reversed
word=input("Enter the word ")[::-1]
#n=int(input("enter the position "))
l=len(word)
for i in range(0,l):
    print(word[i],i)
print(len(word))

Enter the word prakash
h 0
s 1
a 2
k 3
a 4
r 5
p 6
7

In [50]:
txt="hello world" [::-1]
print(txt)

dlrow olleh